@mixin base-shadow {
  box-shadow: 0px 0px 4px 1px #9747ff26;
}

@mixin hover-shadow {
  &:hover {
    box-shadow: 0px 0px 4px 1px #9747ff26, 0px 0px 0px 2px #ecf0ff inset;
  }
}

.quest {
  @include base-shadow();
  @include hover-shadow();

  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-radius: 0.5rem;
  column-gap: 1rem;
  min-height: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  &__content-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
  }
  &__button-wrap {
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 1;
  }
  &__button {
    width: 1.75rem;
    height: 1.75rem;
    border: 1px solid #004850;
    box-shadow: 0px 4px 4px 0px #8bb4d21a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
      background-color: #004850;

      img {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(360deg) brightness(100%) contrast(100%);

      }
    }
  }
  &__image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 45px;
      max-height: 45px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5rem;

    &:hover {
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
      text-decoration-color: #6f7979;
      text-underline-offset: 1.5px;
    }
  }
  &__description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
    font-family: "Lato", sans-serif;
    color: #6f7979;
    font-size: 0.875rem;
    line-height: 1.25rem;
    white-space: pre-line;

    a {
      color: inherit;
    }
  }
}
