.quest {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    box-shadow: 0px 0px 4px 1px #9747ff26;
    border-radius: 0.5rem;
    column-gap: 1rem;
  
    &__image {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
    &__title {
      font-size: 1rem;
    }
  }
  