@import "../components/Quests/QuestsContainer/_QuestsContainer.scss";
@import "../components/Quests/Quest/_Quest.scss";
@import "./_Tooltip.scss";

body {
  font-family: "Nunito Sans", sans-serif;
  color: #293232;
}

.app {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}
